div.fs {width: 1920px;height: 1439px; }
#page-img {margin-top: 0px;margin-bottom: 0px;margin-left: 1px;margin-right: 1px;background-image: url(scaled-images/primaveracena_6_alvoroco.png);background-size: 1918px 1439px;width: 1918px;height: 1439px; }
